<p id="notice"><%= notice %></p>

<h1>Listing Trunks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trunks.each do |trunk| %>
      <tr>
        <td><%= trunk.name %></td>
        <td><%= trunk.description %></td>
        <td><%= link_to 'Show', trunk %></td>
      </tr>
    <% end %>
  </tbody>
</table>
